.publication-block {
    display: inline-block;
    float: none;
    vertical-align: top;
    margin-bottom: 50px;
}

.thumbnail {
    overflow: hidden;
    padding: 0px;
    /* border: 2px solid #ddd; */
}

.thumbnail .image-container {
    cursor: pointer;
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

img {
}

.thumbnail {
    display: block;
    padding: 4px;
    line-height: 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.thumbnail img {
    min-width: 50%;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
    height: auto;
    border: 0;
}

.thumbnail.category-item:hover .open-sign {
    display: block;
}

.thumbnail.category-item[courseenabledforregistered="false"] {
    opacity: 0.4;
}


.thumbnail.course-item:hover .play-sign {
    display: block;
}

.thumbnail.course-item[status="0"] {
    opacity: 0.5;
}

.thumbnail.course-item[courseenabledforregistered="false"] {
    opacity: 0.4;
}


.publication-block .thumbnail .course-status
{
    color: white;
    background-color: #337AB7;
   /*padding: 5px;
    position: absolute;
    bottom: -10px;
    left: -1px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-decoration: none;
    width: calc(100% + 2px);
    text-align: center;
    line-height: 11px;
    height: 20px;*/
}


.publication-block[coursestatus="passed"] .thumbnail  .course-status {
    background-color: #0DAB12;
}

.publication-block[coursestatus="failed"] .thumbnail  .course-status {
    background-color: #FF0000;
}

.publication-block[coursestatus="incomplete"] .thumbnail  .course-status {
    background-color: #FF0000;
    /*background-color: #F7A001;*/
}

.publication-block .thumbnail.course-item[status="0"]  .course-status {
    background-color: #337AB7;
}

@-webkit-keyframes play-sign {
  0% { 
    -webkit-transform: scale(1.95); 
            transform: scale(1.95); 
            opacity: 0;
  }
  100% { 
            opacity: 1;
    -webkit-transform: scale(1.00); 
            transform: scale(1.00); 
  }
}

@keyframes play-sign {
  0% { transform: scale(1.95);opacity: 0; };
  100%      { transform: scale(1.00); opacity: 1;}
}

.play-sign {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('img/play_content_portal.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,.6);
  -webkit-animation-name: play-sign; 
          animation-name: play-sign; 
}

@-webkit-keyframes play-sign {
  0% { 
    -webkit-transform: scale(1.95); 
            transform: scale(1.95); 
            opacity: 0;
  }
  100% { 
            opacity: 1;
    -webkit-transform: scale(1.00); 
            transform: scale(1.00); 
  }
}

@keyframes play-sign {
  0% { transform: scale(1.95);opacity: 0; };
  100%      { transform: scale(1.00); opacity: 1;}
}

.thumbnail .caption {
    padding: 0px;
    color: #555555;
}

.thumbnail .caption h3 {
    color: #15455D;
    font-weight: 600;
    font-size: 18px;
    overflow: hidden;
    margin: 0px 0px 10px 0px;
    line-height: 22px;
    padding: 9px;
    box-sizing: border-box;
    word-wrap: break-word;
    height: 53px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.thumbnail-caption {
    display: none;
}

.portal-content-image {
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    padding-bottom: 100%;
    width: 100%;
    max-width: 170px;
    background-size: contain !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}


.thumbnail .pub-status {
    font-size: 13px;
    margin: 0px;
    border-top: 1px solid #ccc;
    padding: 0px 10px;
    color: #fff;
    text-align: center;
}

.thumbnail .pub-status[status="passed"] {
    background-color: #468847;
}

.thumbnail .pub-status[status="failed"] {
    
    background-color: #a94442;
}

.thumbnail .pub-status[status="notstarted"] {
    
    background-color: #c09853;
}

.thumbnail .pub-status[status="incomplete"] {
    
    background-color: #c09853;
}

@media (min-width: 768px) {
    .publication-block.col-sm-6
    {
        width: 49% !important;
    }   
}
@media (min-width: 992px) {
    .publication-block.col-md-4
    {
       width: 24% !important;
    }
}


.courses-to-require{
    display: none;
    position: absolute;
}

.courses-to-require-list{
    list-style-type:none;
    margin:0;
    padding:5px;
    width: 100%
}

.courses-to-require-item{
    margin: 2px;
    padding: 5px;
}

.courses-to-require-item a{
}

.to-requirement-list-icon{
    width: 40px;
    margin: 0px 5px;
    height: 40px;
    background-size: cover;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-position: 50% 50%;
    vertical-align: middle;
}



@media(max-width: 1220px) {
    .thumbnail .caption h3 {
        font-size: 16px;
    }
}

.publication-block .thumbnail {
    min-height: 200px;
    position: relative;
    padding: 0px;
}

.status-wrapper {
    text-align: center;
    border-top: 1px dotted #ccc;
    padding: 0px;
    line-height: 35px;
}
.status-wrapper div {
    padding: 0px;
}
.status-wrapper .points-to-get{
    border-right: 1px dotted #ccc;
}
.status-wrapper .points-to-get .fa-star-o {
    vertical-align: middle;
    font-size: 20px;
    font-style: bold;
}
.popover {
    padding: 0px;
}
.popover-title {
    background-color: #337AB7;
    color: #fff;
}

.has-other-requirements {
    font-size: 12px;
    font-style: italic;
}


.course-requirements {
    
    background-image: url(img/puzzel.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 0px 0px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 2px;
}

.course-description-button {
    cursor: pointer;
}